body, html
{
    height: 100%;
}
.bg{
    background-image: url(IMG-20221014-WA0003[1].jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}
h2{
    color: black;
    opacity: 1;
}
h3
{
    color: black;
    opacity: 1;
}

div
{
    background-color: lightskyblue;
    padding: 4px;
    margin: 20px;
    font-family: Arial, Verdana, Times New Roman;
    border: 3px solid white;
    opacity: 0.5;
}

ul
{
    position:static;
    width: 250px;
    top: 90px;
    left: 20px;
    color: black;
    background-color: aqua;
    margin: 10px;
    padding: 6px;
    opacity: 1;
    list-style: none;
    border: 2px solid white;
    padding: 20px;
}
ul li
{
    text-decoration: none;
    opacity: 1;
    margin: 20px;
}
ul li a
{
    color: black;
    opacity: 1;
    font-size: 30px;
}
#profile{
    opacity:0.5;
}
h6, h5{
    color: black;
    opacity: 1;
}
img{
    opacity: 1;
}

Table{
    width: 700px;
    height: 700px;
    position: absolute;
    top: 10%;
    left: 200px;
    opacity: 0.5;
    color: black;
}
Table, td, tr, th{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: lightskyblue;
    color: black;
    font-size: 25px;
}
h1{
    text-align: center;
}
#content{
    color: black;
    font-size: larger;
    padding: 10px;
}

.title{
    opacity: 1;
    font-size: 45px;
}
.uses{
    opacity: 1;
    font-size: 30px;
}
.uses1{
    opacity: 1;
    font-size: 25px;
}
.examples{
    opacity: 1;
    font-size: 25px;
}
