body, html
{
    height: 100%;
}
.bg{
    background-image: url(IMG-20221013-WA0007.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}
h2{
    color: white;
    opacity: 1;
}
h3
{
    color: White;
    opacity: 1;
}

div
{
    background-color: black;
    padding: 4px;
    margin: 20px;
    font-family: Arial, Verdana, Times New Roman;
    border: 3px solid white;
    opacity: 0.5;
}

ul
{
    position:static;
    width: 250px;
    top: 90px;
    left: 20px;
    color: Lime;
    background-color: aqua;
    margin: 10px;
    padding: 6px;
    opacity: 1;
    list-style: none;
    border: 2px solid white;
    padding: 20px;
}
ul li
{
    text-decoration: none;
    opacity: 1;
    margin: 20px;
}
ul li a
{
    color:black;
    opacity: 1;
    font-size: 30px;
}
#profile{
    opacity:0.5;
}
h6, h5{
    color: white;
    opacity: 1;
}
img{
    opacity: 1;
}

Table{
    border: 2px solid black;
}
